
nav li{
    font-weight: 600;
    color: rgb(63, 62, 62);
}
nav li:hover { 
    
    color: black;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
    border: none;
}
.web-btn{
   color: white;
   font-size: 18px;
   font-weight: bold;
   background-color: #B68C5A; 
   text-align: center;
   height: fit-content;
   width: fit-content;
   padding: 10px 20px;
   border-radius: 8px;
   border: none;
}
.big-font{
    font-size: 72px;
}
.banner{
    text-shadow: 0px 0px 10px rgb(54, 151, 241);
}
.banner p{
    text-shadow: 0px 0px 10px rgb(241, 54, 54);
}
.banner  input{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}
::placeholder{
    font-size: 20px;
    
    margin-top: -4px;
   
}
.banner ,.banner img{
    width: 1100px;
    margin: auto;
}
main .card{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .card img{
    width: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .next-icon img{
    width: 32px;
    height: 32px;
}
.max-wide{
    max-width: 1100px;
}


.carousel, .carousel img{
    width: 1170px;
    
    margin: auto;
}