/* header */
nav{
    max-width: 1100px;
    margin: auto;
}
nav li{
    font-weight: 600;
    color: rgb(63, 62, 62);
}
.modal-open{
    background-color: aliceblue;
    width: 400px;
    height: 600px;
}
p{
    max-width: 800px;
    margin: auto;
}
nav li:hover { 
    
    color: black;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
    border: none;
}
.web-btn{
   color: white;
   font-size: 18px;
   font-weight: bold;
   background-color: #B68C5A;
   box-shadow: 0px 3px black; 
   text-align: center;
   height: fit-content;
   width: fit-content;
   padding: 10px 20px;
   border-radius: 8px;
   border: none;
}
.web-btn:hover{
    background-color: #745a3a; 
}
.big-font{
    font-size: 72px;
}
.banner{
    text-shadow: 0px 0px 10px rgb(54, 151, 241);
}
.banner p{
    text-shadow: 0px 0px 10px rgb(241, 54, 54);
}
.banner  input{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}
::placeholder{
    font-size: 20px;
    text-align: center;
    margin-top: -4px;
    padding-bottom: 4px;
    
}
.banner ,.banner img{
   width: 1100px; 
    margin: auto;
}
/* main */
main .card{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .card img{
    width: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .next-icon img{
    width: 32px;
    height: 32px;
}
.max-wide{
    max-width: 1100px;
}



.carousel, .carousel img{
    width: 1100px;
    
    margin: auto;
}
/* footer */
.footer-bg{
    margin: auto;
    background: #111111;
    max-width: 1920px;
    height: 500px;
    color: rgb(185, 179, 179);

}
footer p{
    width: 250px;
}
footer li{
    list-style-type: none;
    margin-top: 10px;
}
footer a{
    text-decoration: none;
    color: rgb(185, 179, 179);
}
footer a:hover{
    color: #B68C5A;
    transform: scale(1.25);
}
.footer-things{
    position: relative;
    top: 150px;
}

a img{
    transition: transform 0.1s ease-out;
}

a img:hover{
    transform: scale(1.07);
}
