
nav li{
    font-weight: 600;
    color: rgb(63, 62, 62);
}
nav li:hover { 
    
    color: black;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
    border: none;
}
.web-btn{
   color: white;
   font-size: 18px;
   font-weight: bold;
   background-color: #B68C5A; 
   text-align: center;
   height: fit-content;
   width: fit-content;
   padding: 10px 20px;
   border-radius: 8px;
   border: none;
}